<configuration debug="false">

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %boldGreen([%logger{0}]) %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="com.ingbyr.hwsc.graphplan.qgp.CPG" level="off"/>
    <logger name="com.ingbyr.hwsc.graphplan.qgp.searching.GeneratePlanningGraph" level="off"/>
    <logger name="com.ingbyr.hwsc.reader.XMLDataSetReader" level="off"/>
    <logger name="com.ingbyr.hwsc.DSCG.innerplanner.yashp2" level="off"/>
    <logger name="com.ingbyr.hwsc.DSCG.MutationAddState" level="off"/>
    <logger name="com.ingbyr.hwsc.DSCG.MutationDelState" level="off"/>
    <logger name="com.ingbyr.hwsc.DSCG.MutationAddConcept" level="off"/>
    <logger name="com.ingbyr.hwsc.DSCG.MutationDelConcept" level="off"/>
    <logger name="com.ingbyr.hwsc.DSCG.CrossoverSwapState" level="off"/>
    <logger name="com.ingbyr.hwsc.DSCG.Evaluator" level="off"/>
    <logger name="com.ingbyr.hwsc.DSCG.EvaluatorConcurrent" level="off"/>
    <logger name="com.ingbyr.hwsc.DSCG.IndividualGenerator" level="off"/>
    <logger name="com.ingbyr.hwsc.DSCG.SurvivalSelector" level="off"/>
    <logger name="com.ingbyr.hwsc.DSCG.FitnessLinearAggregation" level="off"/>
    <logger name="com.ingbyr.hwsc.DSCG.FitnessBinaryIndicator" level="off"/>
<!--    <logger name="com.ingbyr.hwsc.DSCG.FitnessParetoFront" level="off"/>-->
<!--    <logger name="com.ingbyr.hwsc.DSCG.PlannerAnalyzer" level="off"/>-->

    <root level="info">
        <appender-ref ref="console"/>
    </root>

</configuration>