<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %boldGreen([%logger{0}]) %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${user.dir}/log/debug.log</file>
        <append>false</append>
        <encoder>
            <pattern>[%logger{0}] %msg %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="com.ingbyr.hwsc.reader.XMLDataSetReader" level="OFF"/>
    <logger name="com.ingbyr.hwsc.planner.innerplanner.cpg" level="info"/>
    <logger name="com.ingbyr.hwsc.planner.innerplanner.yashp2" level="OFF"/>
    <logger name="com.ingbyr.hwsc.planner.MutationAddState" level="OFF"/>
    <logger name="com.ingbyr.hwsc.planner.MutationDelState" level="OFF"/>
    <logger name="com.ingbyr.hwsc.planner.MutationAddConcept" level="OFF"/>
    <logger name="com.ingbyr.hwsc.planner.MutationDelConcept" level="OFF"/>
    <logger name="com.ingbyr.hwsc.planner.CrossoverSwapState" level="OFF"/>
    <logger name="com.ingbyr.hwsc.planner.EvaluatorGoalDistance" level="OFF"/>
    <logger name="com.ingbyr.hwsc.planner.EvaluatorGoalDistanceConcurrent" level="OFF"/>
    <logger name="com.ingbyr.hwsc.planner.IndividualGenerator" level="OFF"/>
    <logger name="com.ingbyr.hwsc.planner.SurvivalSelectorIndicator" level="OFF"/>
    <logger name="com.ingbyr.hwsc.planner.IndicatorBinary" level="OFF"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>