.card {
    width: 100%;
}

.top-buffer {
    margin-top: 20px;
}

.left-buffer {
    margin-left: 10px;
}

.row {
    margin-top: 10px;
}

.form-check-inline {
    margin-left: 20px;
}